<%- include('./partials/header') %>
<%- include('./partials/adminsidebar') %>

<body>
    <div class="loader"></div>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar sticky">
          <div class="form-inline mr-auto">
            <ul class="navbar-nav mr-3">
              <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
                                      collapse-btn"> <i data-feather="align-justify"></i></a></li>
              <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                  <i data-feather="maximize"></i>
                </a></li>
              <li>
                <form class="form-inline mr-auto">
                  <div class="search-element">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                    <button class="btn" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav navbar-right">
            <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i>
                <span class="badge headerBadge1">
                  6 </span> </a>
              <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                <div class="dropdown-header">
                  Messages
                  <div class="float-right">
                    <a href="#">Mark All As Read</a>
                  </div>
                </div>
                <div class="dropdown-list-content dropdown-list-message">
                  <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar
                                              text-white"> <img alt="image" src="/adminassets/img/users/user-1.png" class="rounded-circle">
                    </span> <span class="dropdown-item-desc"> <span class="message-user">John
                        Deo</span>
                      <span class="time messege-text">Please check your mail !!</span>
                      <span class="time">2 Min Ago</span>
                    </span>
                  </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                      <img alt="image" src="/adminassets/img/users/user-2.png" class="rounded-circle">
                    </span> <span class="dropdown-item-desc"> <span class="message-user">Sarah
                        Smith</span> <span class="time messege-text">Request for leave
                        application</span>
                      <span class="time">5 Min Ago</span>
                    </span>
                  </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                      <img alt="image" src="/adminassets/img/users/user-5.png" class="rounded-circle">
                    </span> <span class="dropdown-item-desc"> <span class="message-user">Jacob
                        Ryan</span> <span class="time messege-text">Your payment invoice is
                        generated.</span> <span class="time">12 Min Ago</span>
                    </span>
                  </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                      <img alt="image" src="/adminassets/img/users/user-4.png" class="rounded-circle">
                    </span> <span class="dropdown-item-desc"> <span class="message-user">Lina
                        Smith</span> <span class="time messege-text">hii John, I have upload
                        doc
                        related to task.</span> <span class="time">30
                        Min Ago</span>
                    </span>
                  </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                      <img alt="image" src="/adminassets/img/users/user-3.png" class="rounded-circle">
                    </span> <span class="dropdown-item-desc"> <span class="message-user">Jalpa
                        Joshi</span> <span class="time messege-text">Please do as specify.
                        Let me
                        know if you have any query.</span> <span class="time">1
                        Days Ago</span>
                    </span>
                  </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                      <img alt="image" src="/adminassets/img/users/user-2.png" class="rounded-circle">
                    </span> <span class="dropdown-item-desc"> <span class="message-user">Sarah
                        Smith</span> <span class="time messege-text">Client Requirements</span>
                      <span class="time">2 Days Ago</span>
                    </span>
                  </a>
                </div>
                <div class="dropdown-footer text-center">
                  <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </li>
            <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i>
              </a>
              <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                <div class="dropdown-header">
                  Notifications
                  <div class="float-right">
                    <a href="#">Mark All As Read</a>
                  </div>
                </div>
                <div class="dropdown-list-content dropdown-list-icons">
                  <a href="#" class="dropdown-item dropdown-item-unread"> <span
                      class="dropdown-item-icon bg-primary text-white"> <i class="fas
                                                  fa-code"></i>
                    </span> <span class="dropdown-item-desc"> Template update is
                      available now! <span class="time">2 Min
                        Ago</span>
                    </span>
                  </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="far
                                                  fa-user"></i>
                    </span> <span class="dropdown-item-desc"> <b>You</b> and <b>Dedik
                        Sugiharto</b> are now friends <span class="time">10 Hours
                        Ago</span>
                    </span>
                  </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-success text-white"> <i
                        class="fas
                                                  fa-check"></i>
                    </span> <span class="dropdown-item-desc"> <b>Kusnaedi</b> has
                      moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">12
                        Hours
                        Ago</span>
                    </span>
                  </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-danger text-white"> <i
                        class="fas fa-exclamation-triangle"></i>
                    </span> <span class="dropdown-item-desc"> Low disk space. Let's
                      clean it! <span class="time">17 Hours Ago</span>
                    </span>
                  </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="fas
                                                  fa-bell"></i>
                    </span> <span class="dropdown-item-desc"> Welcome to Otika
                      template! <span class="time">Yesterday</span>
                    </span>
                  </a>
                </div>
                <div class="dropdown-footer text-center">
                  <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown"
                class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="/adminassets/img/user.png"
                  class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
              <div class="dropdown-menu dropdown-menu-right pullDown">
                <div class="dropdown-title">Hello Sarah Smith</div>
                <a href="profile.html" class="dropdown-item has-icon"> <i class="far
                                          fa-user"></i> Profile
                </a> <a href="timeline.html" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>
                  Activities
                </a> <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                  Settings
                </a>
                <div class="dropdown-divider"></div>
                <a href="/admin/logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
  
    
  
       
  
        <!-- Main Content -->
        <div class="main-content">
            <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4> Order details </h4>
                  <div class="card-header-form">
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                          <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <hr>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tr>
                        <th class="text-center">
                        </th>
                        <th>Order Id </th>
                        <th>Full name </th>
                        <th>Total </th>
                        <th>Date </th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>

                     <% full_Order.forEach((MyOrder) => { %>
                          <tr>
                              <td class="p-0 text-center"></td>
                              <td><%= MyOrder.orderId %></td>
                              <td class="text-truncate">
                                  <ul class="list-unstyled order-list m-b-0 m-b-0">
                                      <li><%= MyOrder.address.name %></li>
                                  </ul>
                              </td>
                              <td class="align-middle"><%= MyOrder.totalamount %></td>
                              <td><%= MyOrder.createdAt.toLocaleString() %></td> 
                              <td class="text-left"> <!-- Added class to left-align badges -->
                                <% if (MyOrder.orderstatus === 'canceled') { %>
                                    <div class="badge badge-pill badge-danger mb-1">Canceled</div>
                                <% } else if (MyOrder.orderstatus === 'delivered') { %>
                                    <div class="badge badge-pill badge-success mb-1">Delivered</div>
                                <% } else if (MyOrder.orderstatus === 'pending') { %>
                                    <div class="badge badge-pill badge-info mb-1">Pending</div>
                                <% } else if (MyOrder.orderstatus === 'processing') { %>
                                    <div class="badge badge-pill badge-primary mb-1">Processing</div>
                                <% } else if (MyOrder.orderstatus === 'shipped') { %>
                                    <div class="badge badge-pill badge-warning mb-1">Shipped</div>
                                <% } else if (MyOrder.orderstatus === 'returned') { %>
                                    <div class="badge badge-pill badge-dark mb-1">Returned</div>
                                <% } else if (MyOrder.orderstatus === 'failed') { %>
                                    <div class="badge badge-pill badge-danger mb-1">Failed</div>
                                <% } else { %>
                                    <div class="badge badge-pill badge-secondary mb-1"><%= MyOrder.orderstatus %></div>
                                <% } %>
                            </td>
                            
                              <td>
                                  <a href="/admin/Order_view/<%= MyOrder._id %>" class="btn btn-outline-primary">Detail</a>
                              </td>
                          </tr>
                      <% }) %>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
        </div>
        
      </div>
    </div>
    <!-- General JS Scripts -->

    <script src="/javascripts/otp.js"></script>
    <script src="/adminassets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="/adminassets/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/adminassets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="/adminassets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="/adminassets/js/custom.js"></script>
  </body>
  
  
  <!-- index.html  21 Nov 2019 03:47:04 GMT -->
  </html>
