<!DOCTYPE html>
<html lang="en">


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userassets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/userassets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/userassets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/userassets/images/icons/site.html">
    <link rel="mask-icon" href="/userassets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userassets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/userassets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userassets/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">


    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userassets/css/style.css">
  <!-- jQuery from CDN (required for Bootstrap JS) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

  <!-- Bootstrap JS from CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <%- include('./partials/userheader') %>
</head>

<body>
	<%- include('./partials/navbar') %>

	<div class="modal" id="myModal">
		<div class="modal-dialog">
		  <div class="modal-content">
	  
			<!-- Modal Header -->
			<div class="modal-header">
			  <h4 class="modal-title">Modal Title</h4>
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
	  
			<!-- Modal Body -->
			<div class="modal-body">
			<input type="radio" name="address" id="">
			<input type="radio" name="address" id="">
			<input type="radio" name="address" id="">
			</div>
	  
			<!-- Modal Footer -->
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
	  
		  </div>
		</div>
	  </div>


    <div class="page-wrapper">
        <header class="header">
           <!-- End .header-top -->
          
          <!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/userassets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

		

            <div class="page-content">
				<center><div id="error-message" style="color: red; font-size: medium;">   
				</div></center>
            	<div class="cart">
	                <div class="container" style="background-color: rgb(255, 255, 255);">
	                	<div class="row">
							
	                		<div class="col-lg-9">
								
	                			<table class="table table-cart table-mobile">
									<thead>
										<tr>
											<th><b>Product</b></th>
											<th><b>Price</b></th>
											<th><b>Quantity</b></th>
											<th><b>Total</b></th>
											<th></th>
										</tr>
									</thead>

								
									<tbody>
										<% fullData.product.forEach(data => { %>
										<tr>
											<td  class="product-col" >
												<input type="checkbox" onchange="checkbox('<%= data.product._id %>', this.checked)" <%= data.isSelected ? 'checked' : '' %>>
												
												<div class="product"  style="background-color: rgb(255, 255, 255);">
														<a href="#">
															<img src="/category_img/<%= data.product.image[0] %>" alt="Product Image" style="max-width: 130px; max-height: 100px;">
														</a>
													<h3 class="product-title">
														<a href="#"><%= data.product.name %></a>
													</h3><!-- End .product-title -->
													
												</div><!-- End .product -->
											</td>
											<td class="price-col"><%= data.product.price %></td>
											<td class="quantity-col">
												<div class="cart-product-quantity">
												  <input  onchange="updateQuantity('<%= data.product._id %>')" type="number"  class="form-control" id="quantityInput<%= data.product._id %>" value="<%= data.quantity %>" min="1" max="10" step="1" data-decimals="0" required>
												</div>
											  </td>
																					
											<td class="total-col"><b><%= data.product.price * data.quantity %></b></p></td>
											<td class="remove-col"><button class="btn-remove" onclick="deleteproduct('<%= data.product._id %>')" ><i class="icon-close" style="color: red;"></i></button></td>

										<% }); %>
									</tbody>
								</table><!-- End .table table-wishlist -->

	                			<!-- <div class="cart-bottom">
			            			<div class="cart-discount">
			            				<form action="#">
			            					<div class="input-group">
				        						<input type="text" class="form-control" required placeholder="coupon code">
				        						<div class="input-group-append">
													<button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
												</div>
			        						</div>
			            				</form>
			            			</div>

			            			<a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a>
		            			</div> -->
	                		</div><!-- End .col-lg-9 -->
	                		<aside class="col-lg-3">
	                			<div class="summary summary-cart" style="background-color: rgb(183, 255, 245);">
	                				<h3 class="summary-title"><b>Cart Total</b></h3><!-- End .summary-title -->

	                				<table class="table table-summary" >
	                					<tbody>
	                						<tr class="summary-subtotal">
	                							<td>Subtotal:</td>
	                							<td><%= fullData.totalamount %></td>
	                						</tr><!-- End .summary-subtotal -->
	                						<tr class="summary-shipping">
	                							<td>Shipping:</td>
	                							<td style="color: rgb(0, 122, 14);">&nbsp; FREE</td>
	                						</tr>
<!-- 
	                						<tr class="summary-shipping-row">
	                							<td>
													<div class="custom-control custom-radio">
														<input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="free-shipping">Free Shipping</label>
													</div>
	                							</td>
	                							<td>$0.00</td>
	                						</tr>

	                						<tr class="summary-shipping-row">
	                							<td>
	                								<div class="custom-control custom-radio">
														<input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="standart-shipping">Standart:</label>
													</div>
	                							</td>
	                							<td>$10.00</td>
	                						</tr>
	                						<tr class="summary-shipping-row">
	                							<td>
	                								<div class="custom-control custom-radio">
														<input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="express-shipping">Express:</label>
													</div>
	                							</td>
	                							<td>$20.00</td>
	                						</tr>
	                						<tr class="summary-shipping-estimate">
	                						<td>Estimate for Your Country<br> <a onclick="$('#myModal').modal('show');"  ">Change address</a></td>
	                							<td>&nbsp;</td>
	                						</tr> -->

	                						<tr class="summary-total">
	                							<td><b>Total</b>:</td>
	                							<td><b><%= fullData.totalamount %></b></td>
	                						</tr><!-- End .summary-total -->
	                					</tbody>
	                				</table><!-- End .table table-summary -->

	                				<a href="/checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
	                			</div><!-- End .summary -->

		            			<!-- <a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a> -->
	                		</aside><!-- End .col-lg-3 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%- include('./partials/footer') %>
        <!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->





    <!-- Plugins JS File -->

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
	<script src="/javascripts/otp.js"></script>
    <script src="/userassets/js/jquery.min.js"></script>
    <script src="/userassets/js/bootstrap.bundle.min.js"></script>
    <script src="/userassets/js/jquery.hoverIntent.min.js"></script>
    <script src="/userassets/js/jquery.waypoints.min.js"></script>
    <script src="/userassets/js/superfish.min.js"></script>
    <script src="/userassets/js/owl.carousel.min.js"></script>
    <script src="/userassets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/userassets/js/main.js"></script>
</body>


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->
</html>